.error{border: 1px solid red;}
.hidden{display: none;}
.backTo{margin-bottom:10px;}
.btn:focus{outline:0 !important;}
.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}
.install-metadata-box-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.install-metadata-box-warning{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.install-metadata-box-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.install-metadata-box{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.text-warning {
    color: #f0ad4e !important;
}
.text-default {
    color: #8c8c8c !important;
}
.text-default_light {
    color: #ddd !important;
}
.text-info {
    color: #5bc0de !important;
}
.text-approved {
    color: #5cb85c !important;
}
.text-success{
    color:#5cb85c !important;
}
.text-error{
    color:#e74c3c !important;
}
.text-button-approved {
    background-color: #5cb85c !important;
}
.text-button-success{
    background-color:#5cb85c !important;
}
.text-button-error{
    background-color:#e74c3c !important;
}
.text-button-sop{
    background-color:#ff9933 !important;
}
.label-approved{
    background-color: #5cb85c !important;
}
.label-default {
     background-color: #8c8c8c;
 }
.label-default_dark {
    background-color: #777;
}
.label-default_light {
    background-color: #ddd;
}
.label-white{
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
}
.label-notapproved {
    background-color: #eb6e60;
}
.label-notavailable{
    background-color: #808080;
}
.label-available-few{
    background-color: #b3d9ff;
}
.label-available-some{
    background-color: #66b3ff;
}
.label-available-most{
    background-color: #0073e6;
}
.label-available-all{
    background-color: #004d99;
}
.label-unknown{
    background-color: #cccccc;
}
.label-updated{
    background-color: #5cb85c;
}
.label-notupdated{
    background-color: #e74c3c;
}
.label-semiupdated{
    background-color: #f0ad4e;
}
.label-other{
    background-color: #5bc0de;
}
.fa-label{
    width: 21px !important;
}
.fa-label-legend{
    width: 10px !important;
}
.news-label{
    float:left;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}
.news-label-tiny {
    float: left;
    font-size: 13px;
    padding: 3px;
    border-radius: 5px;
    width: 21px;
    height: 20px;
}
.has-success .form-control:focus,.has-success .form-control {
    border-color: #5cb85c !important;
}
.concepts{
    background-color: #777;
}
.abstracts{
    background-color: #999999;
}
.manuscripts{
    background-color: #bfbfbf;
}
.posters{
    background-color: #b3d1ff;
}
.dataRequests{
    background-color: #4d94ff !important;
}
.other{
    background-color: #003d99;
}
.conceptSheets_optionMenu{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}
.btn-delete{
    background-color: #ff3333 !important;
    color: #fff;
    border: none;
}
.btn-delete:hover{
    background-color: #cc0000 !important;
    color: #fff;
    border: none;
}

.btn-success.focus, .btn-success:focus {
    border-color: #4cae4c !important;
}

.btn-save,btn-save:active{
    background-color:#5cb85c;
    color:#fff !important;
}
.btn-save:hover{
    color:#000;
    background-color:#e6e6e6;
    border-color: #adadad;
}
.btn-secondary{
    background-color: #a6a6a6;
    border-color: #999999;
    color: #fff;
}
.btn-default-white{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
span .btn-info:hover{
    background-color: #5bc0de !important;
}
.tag{
    margin-right: 2px;
    color: white;

}

.activetab{
    background-color: #8c8c8c;
    color: #fff;
    border-color: #8c8c8c;
}
/***SOP Builder: VARIABLES***/
.sop_builder_header{
    background-color: #aadeee;
    width: 90%;
    height: 40px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 40px;
}
#taskTable{
    font-size: 14px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.tableNameTitle{
    background-color:lightblue;
    border-color: lightblue !important;
    font-weight: bold;
    color: navy;
    font-size: 16px;
}
.tableNameTitle_sub{
    background-color:aliceblue;
    font-style: italic;
    font-size: 13px;
    text-align: center;
}
.collapseArrow{
    float:right;
    margin-right:10px;
    cursor:pointer;
}
.rotate180{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.draft{
    background-color: #ffffcc;
    border-color: #ffffcc !important;
}
.fields_loaded{
    float:right;
    font-style:italic;
    font-size: 13px;
    font-weight: normal;
    color: red;
    padding-right: 30px;
    padding-top: 3px;
}

/***SOP Builder: DATA***/
.data-main{
    margin:auto;
    width: 700px;
}
.datepicker_aux{
    width: 80px;
    height: 22px;
    margin-right: 10px
}
.contact_title{
    width: 730px;
    background-color: lavender;
    height: 25px;
    padding: 5px;
}
.contact_field{
    width: 80px;
}

/***SOP Builder: LOAD***/
.mainDivLoad{
    width:600px;
}
.optionMenu{
    width:100%;
    float:left;
    margin-bottom: 20px;
}
.options:hover, .options:active, .options:visited, .options:checked{
    background-color: lavender;
    cursor: pointer;
}
.optionSelect,.optionSelectData{
    width:100%;
    float:left;
    margin-bottom: 20px;
}
.divModalLoading{
    width: 150px;
    height: 150px;
    background-color: white;
    position: fixed;
    top: 51%;
    left: 50%;
    margin-top: -80px;
    margin-left: -125px;
    z-index: 1000;
    border-radius: 25px;
    display:none;
}
.modalLoading{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    z-index:1000;
}

/***SOP Builder: MODAL***/
.code_modal_table{
    margin: 0 auto;
    width: 100%;
    border: 1px solid #ddd;
}
.code_modal_td{
    padding: 5px 10px 5px 10px;
}
.btn_code_modal{
    text-decoration:underline;
    font-size: 12px;
    font-weight: bold;
}
.panel-heading-sop{
    background-color: #fff2e6 !important;
    border-color: #ffd9b3 !important;
    color: #333 !important;
}
.panel-info-sop, .panel-info-sop table th {
    border-color: #ffd9b3 !important;
}

/***SOP Builder: PDF***/
.mainPDF{
    /*margin:0 auto;*/
    width: 995px;
    text-align:center;
    font-family: "Times New Roman";
    font-size:12pt;
}

/***DES Browser: WIKI***/
.wiki{
    max-width: 1000px;
    float: left;
}
.wiki_container{
    margin:auto;
    font-size:13px;
    padding-left: 45px;
}
.wiki_link{
     background-color:#e59400 !important;
     background-image:none !important;
     border-color:#ce8500 !important;
     margin-top:8px;
     margin-right:8px;
 }
.wiki_link:hover{
     background-color:#eaa932 !important;
     border-color:#ce8500 !important;
 }
.wiki_title{
    font-weight: bold;
    font-size: 19px;
}
.wiki_title_small{
    font-weight: bold;
    font-size: 16px;
}
.wiki_codingTable{
    font-weight: bold;
    font-size: 17px;
    background-color: blanchedalmond;
    width:100%;
    padding: 5px;
}
.wiki_subtitle{
    font-weight: bold;
    font-size: 14px;
}
.wiki_text{
    padding: 20px 0px 20px 15px;
}
.wiki_info{
    padding: 20px 20px 20px;
    display: block;
}
.wiki_active{
    font-weight: bold;
    color: #808080 !important;
}
.wiki_tableNameTitle_sub{
    background-color:#6699cc;
    color: #fff;
    font-weight:bold;
    font-size: 13px;
    text-align: center;
}
.wiki_header_title{
    color: #0d347c;
    font-weight: bold;
    font-size: 25px;
    padding-top:40px;
    text-decoration: none;
}
.wiki_navbar{
    padding-left: 60px;
}
.wiki_text_size{font-size: 16px;}
.wiki_deprecated{color:#ff0000;}
.wiki_draft{color:#e6b800;}
.wiki_deprecated_draft_message{
    font-size: 10px;
    padding-left:20px;
}
.wiki_error{
    color:red;
    font-weight:bold;
}
.wiki_text_inside{padding: 20px 0px 20px 40px;}
.wiki_header{
    background-color: #f9f9f9;
    box-shadow: none;
    background-image: none;
}
.wiki_logo_img{
    margin: 10px 20px 10px 56px;
    text-decoration: none;
}
.required_des{
    background-color:#ecf2f9;
}
.required_des td:nth-child(1){
    font-weight: bold;
}

/***HARMONIST***/
.dropdown-harmonist{
    margin-top: 20px;
}
.dropdown-menu-harmonist{
    margin-top: -17px;
    margin-left: 10px;
}
.navbar-img{
    margin-top:10px;
    margin-left: 50px;
    width: 130px;
}
/***HARMONIST: CONCEPTS***/
.table_requests td{padding:8px;}
.concepts-title{
    padding-bottom: 30px;
    font-size: 20px;
    color: #404040;
}
.concepts-table-sortable{
    padding-left:10px;
    color:#ff4d4d !important;
}
.concepts-table-notfound{
    padding-left: 15px;
    font-style: italic;
    font-size: 16px;
}
.concepts-title-title{
    color:#404040;
    font-weight: bold;
    font-size: 25px;
}
.concepts-title-subtitle{
    padding-bottom: 20px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 14px;
    color:#404040;
}
.concepts-title-info{
    padding-left: 0px;
    padding-bottom: 20px;
    display: block;
}
.concepts-project-update-date{
    display: block;
    text-align: left
}
.concepts-project-update-text{
    display: block;
    text-align: left;
    padding: 10px 0px;
}
.concepts-project-update-link{
    display: block;
    text-align: left;
}
.concepts-new-submission-text{
    padding-bottom: 20px;
}
.concepts-new-submission-row{
    padding-bottom: 10px;
}
.data-form-control{
    width: 30%;
    display: inline-block;
}
.concepts-btn-info {
    color: #fff;
    border-color: #999999;
    background-image: linear-gradient(to bottom,#a6a6a6 0,#999999 100%);
}
.concepts-radio{
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 20px !important;
}
.concepts-table tr td:first-child{
    width:90px;
}
.concepts-table tr td:nth-child(2){
    width:180px;
}
.custom-tooltip + .tooltip > .tooltip-inner {background-color: #8c8c8c;}
.custom-tooltip + .tooltip > .tooltip-arrow { border-top-color:#8c8c8c; }

.badge-manuscript{background-color: #f0ad4e;}
.badge-abstract{background-color: #00b386;}
.badge-poster{background-color: #5bc0de;}
.badge-presentation{background-color: #aa80ff;}
.badge-report{background-color: #cc9966;}
.badge-other{background-color: #777;}
.badge-manuscript-text{color: #f0ad4e;padding-right:5px;}
.badge-abstract-text{color: #00b386;padding-right:5px;}
.badge-poster-text{color: #5bc0de;padding-right:5px;}
.badge-presentation-text{color: #aa80ff;padding-right:5px;}
.badge-report-text{color: #cc9966;padding-right:5px;}
.badge-concept-text{color: #337ab7;padding-right:5px;}
.badge-data-text{color: #ff9966;padding-right:5px;}
.badge-other-text{color: #777;padding-right:5px;}
.badge-revised{background-color: #3366ff}
.badge-primary{background-color: #337ab7 !important;}
.abstract_text{color:#555;padding-right:5px;}

/***HARMONIST: SUBMIT BUTTON***/
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-file{overflow:hidden;position:relative;vertical-align:middle;}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
.fileupload{margin-bottom:9px;}.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
.fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;max-height:100%;}
.fileupload .btn{vertical-align:middle;}
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
.fileupload-inline .fileupload-controls{display:inline;}
.fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd;}
.control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
.control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
.control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
.control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
.control-group.error .fileupload .fileupload-preview{color:#b94a48;}
.control-group.error .fileupload .thumbnail{border-color:#b94a48;}
.control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
.control-group.success .fileupload .fileupload-preview{color:#468847;}
.control-group.success .fileupload .thumbnail{border-color:#468847;}

/***HARMONIST: DROP DOWN MENU DESKTOP/MOBILE***/
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover {background: #e2e1e1;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/***HUB***/
.signed_in_hub{
    float:right;
}
.signed_out_hub{
    float:right;
    margin: 2px 20px 0px 10px;
}
.signed_out_hub i:hover{
    color: #ff0000;
    cursor: pointer;
}
.navbar-links{
    padding: 5px;
}
.container-option{
    margin-top: 120px;
}

/***HEADER***/
.navbar-default .navbar-nav>li>a:hover {
    color: #000;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,.navbar-active{
    background-color: #e5e5e5;
    border-radius: 5px;
}

/***HUB: REQUESTS***/
.hub_completed_requests{
    background-color: #dff0d8 !important;
    background-image: none !important;
    color: #3c763d !important;
    border-color: #d6e9c6 !important;
}
.hub_pending_requests{
    background-color: #fcf8e3 !important;
    background-image: none !important;
}
.row.request {
    margin-top:15px;
}
.label-as-badge {
    border-radius: 1em;
    font-size: 100%;
    padding:.2em .6em .2em;
}
.label-as-badge-square {
    font-size: 100%;
    padding:.2em .6em .2em;
}
.label-retrieve{
    color: #333 !important;
    background-color: #fff;
    border: 1px solid #ccc;
    font-weight: normal !important;
}
.hub_header_title{
    color: #0d347c;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    padding-top: 12px !important;
}
span.overdue  {
    font-weight: bold;
    color: #e74c3c;
}
colgroup col.active {
    background-color: #e6f5ff;
}
.request_revision_text{
    font-weight: bold;
    font-variant: small-caps;
    font-size: 15px;
}
.request_grid_dued_home{
    width:150px;
}
.request_grid_dued{
    width:109px;
}
.request_grid_reqtype{
    width:115px;
}
.request_grid_submittedby{
    width:116px;
}
.request_grid_title{
    width:514px;
}
.request_grid_icon{
    width:40px;
    text-align: center !important;
}
.request_grid_icon:after, .archive_grid_icon:after{
    content: none !important;
}
.request_grid_actions{
    width:100px;
}
.last_file{
    background-color: #cae8ca;
}
table[data-sortable] th:after {
    margin-left: 0px !important;
}
table[data-sortable] th.sorted_class:hover{
    color: #3a87ad;
    background: #e6f5ff;
    border-bottom-color: #bce8f1;

}
table[data-sortable].sortable-theme-bootstrap th[data-sorted="true"] {
     background-color: #e6f5ff !important;
 }
table[data-sortable].sortable-theme-bootstrap.sop_discuss th[data-sorted="true"],table[data-sortable].sortable-theme-bootstrap.sop_discuss th.sorted_class:hover{
    background-color: #ffd9b3 !important;
    color:#663300 !important;
}
table[data-sortable].sortable-theme-bootstrap.sop_discuss th[data-sorted="true"][data-sorted-direction="ascending"]:after {
    border-bottom-color:#663300 !important;
    border-top-color:inherit;
}
table[data-sortable].sortable-theme-bootstrap.sop_discuss th[data-sorted="true"][data-sorted-direction="descending"]:after{
    border-top-color:#663300 !important;
    border-bottom-color:inherit;
}
table[data-sortable].sortable-theme-bootstrap.sop_discuss tbody td{
    border-top:1px solid #ffd9b3 !important;
}

/***HUB: REQUESTS ARCHIVE***/
.archive_grid_dued{
    width:109px !important;
}
.archive_grid_reqtype{
    width:115px;
}
.archive_grid_submittedby{
    width:116px;
}
.archive_grid_homeregion{
    width:80px;
}
.archive_grid_title{
    width:680px;
}
.archive_grid_icon{
    width:39px;
}
.archive_grid_actions{
    width:100px;
}
.panel-default-archive{
    border: none !important;
}
#table_archive[data-sortable].sortable-theme-bootstrap th[data-sorted="true"] , #table_archive[data-sortable] th.sorted_class:hover,#sortable_table[data-sortable].sortable-theme-bootstrap th[data-sorted="true"] , #sortable_table[data-sortable] th.sorted_class:hover{
    border-radius: 5px 5px 0 0;
}
.table-font-size{
    font-size: 14px;
}
.hub-title{
    /*padding-bottom: 20px;*/
}
.panel-heading [data-toggle="collapse"]:after{
    color: #8c8c8c !important;
}

/***DATATABLE***/
.dataTables_length label{
    float:left;
    font-weight:normal;
}
.dataTables_filter label{
    float:right;
    font-weight:normal;
}
.dataTables_filter input{
    margin-left: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#table_archive_info{float:left;}
#table_archive_paginate,#sortable_table_paginate{float:right;}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing:border-box;
    display:inline-block;
    min-width:1.5em;
    padding:0.5em 1em;
    margin-left:2px;
    text-align:center;
    text-decoration:none !important;
    cursor:pointer;
    *cursor:hand;
    color:#333 !important;
    border:1px solid transparent;
    border-radius:2px
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border:1px solid #bce8f1;
    background-color:#e6f5ff;
}
.dataTables_paginate{
    float: right;
}
.panel-default-archive{
    box-shadow: none;
}
#loadConceptsAJAX .dataTables_filter label,#loadConceptsAJAX .dataTables_length label{
    padding-top: 10px;
}
.nav>li>a {
    padding: 15px 10px;
}
.home-panel{
    margin-bottom: 140px;
}
/***Small Devices, Tablets**/
@media (max-width: 768px) {
    .optionSelectData{
        float:none;
    }
    .wiki_container{
        margin:auto;
        font-size:13px;
        padding-left: 15px;
    }
    .wiki_logo_img{
        margin: 10px 20px 10px 15px;
    }
    .hub_header_title{
        font-size: 18px;
    }
    .navbar-toggle{
        margin-top: 13px;
    }
    colgroup col.active{
        background-color:transparent;
    }
    #deadlinesAndEvents,#table_projectUpdate{
        overflow-wrap: break-word;
        word-wrap: break-word;
        overflow: hidden;
        table-layout:fixed;
    }
    #deadlinesAndEvents td,#deadlinesAndEvents th,#table_request td,#table_request th,#table_projectUpdate td,#table_projectUpdate th{
        word-wrap: break-word;
        white-space: normal;
    }
    #table_request{
        table-layout: fixed;
        width: 100%;
    }
    #singleRequestHeader{
        padding-bottom: 50px;
    }
    #table_archive_filter{
        padding-left: 0px !important;
    }
    #hubUsers{
        padding-right: 0px;
        margin-bottom: 40px !important;
    }
    #RedcapLinks{
        padding-left: 0px;
    }
    .modal-dialog{
        width: 350px !important;
    }
    .row.request{
        margin-top:0px;
    }
    .row.request div{
        margin-top: 5px;
    }
    .comments-table{
        min-width: 10px !important;
    }
    .concepts-table tr td:first-child{
        width:80px;
    }
    .concepts-table tr td:nth-child(2){
        width:100px;
    }
    .admin-table tr td:first-child,.admin-table tr td:nth-child(2){
        white-space: normal !important;
    }
    .home-panel{
        margin-bottom: 20px;
    }
}

/***Medium Devices, Desktops **/
@media (max-width: 990px) {
    colgroup col.active{
        background-color:transparent;
    }
}

/*** Resize Home panel***/
@media (min-width: 768px) and (max-width:991px) {
    .panelHeight{
        min-height: 35px !important;
    }
}

/***ADMIN***/
.admin-table tr td:first-child{
    width:232px;
}
.admin-table tr td:nth-child(2){
    width:461px;
}
.admin-table tr td:nth-child(3),.admin-table tr td:nth-child(4),.admin-table tr td:nth-child(5){
    width:146px;
}
/***FAQ***/
.faqHeader {
    font-size: 20px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'FontAwesome';
    content: "\f078";
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    color: #454444;
}

.help_embedcode iframe{
    display: block;
    margin: 0 auto;
}
.comments-table{
    min-width: 150px;
}

/***HOME***/
.panel-title .trigger:before {
    content: '\e082';
    font-family: 'Glyphicons Halflings';
    vertical-align: text-bottom;
    color: #8c8c8c;
    padding-right: 5px;
}

.panel-title .trigger.collapsed:before {
    content: '\e081';
    color: #8c8c8c;
    padding-right: 5px;
}

.panel-default>.sub-panel-heading {
    color: #333;
    background-color: #e6f5ff;
    border-color: #ddd;
}
.sub-panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panelHeight{
    min-height: 19px
}
.list-group-item>.time {
    float: right;
}
.time {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    color: #888;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.quicklink_header{background-color: #f0f8ff;}
.home_openrequests_link{text-decoration: none;float: right;}
.alert-info li a{
    text-decoration: underline;
}

/***STATISTICS***/
.subheader{
    /*background-color: #f5f5f5;*/
    background-color: #e6f5ff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid transparent;
    padding: 10px 15px;
    cursor: default !important;
}

@-moz-document url-prefix() {
    td.moz{padding:15px !important;}
}
.canvas_statistics{
    display: inline-block !important;
}
.stat-table-outer{
    padding:15px;
}
.stat-table-row{
    display:block;
}
.stat-table-text{
    float:left;
}
.stat-table-value{
    float:right;
}
.color-primary{
    color:#337ab7;
}

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#conceptswgtooltip {
    opacity: 1;
    position: absolute;
    background: rgba(38,38,38, 0.9);
    color: white;
    border-radius: 5px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.closeWG{
    border-radius: 3px;
    padding: 0px 5px 2px 5px;
    text-decoration:none;
    background-color:#ff8080;
    color:#fff;
    cursor: pointer;
}
.closeWG:hover{
    text-decoration:none;
    color: #000;
    background-color: #fff;
}
.linkWG{
    color:#fff;
    text-decoration:underline;
    font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
    font-size: 12px;
    font-weight: bold;
    padding-right: 20px;
    float:left;
    cursor: pointer;
}
.linkWG:hover, .linkWG:active, .linkWG:focus, .linkWG:visited{
    color:#fff;
}

/***OUTPUTS***/
.output_select{
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 6px !important;
    width:178px;
}
.output-dropdown-menu li{
    padding:5px 10px;
    cursor: pointer;
    width:176px;
}
.output-dropdown-menu li:hover{
     background-color:#bfbfbf;
}
.output-dropdown-menu li a:hover{
    background-color:#bfbfbf;
}

/***DATA***/
.data_boxes{
    text-align: center;
    color: #8c8c8c;
}
.welltitle{
    padding: 10px 0;
    font-size: 20px;
}
.well{
    box-shadow: none;
    min-height: 180px;
}
.accordion_pointer{
    cursor:pointer;
    font-weight: bold;
}
.accordion_pointer:hover{
    background:#f5f5f5;
}
/***SOP Builder NEW***/
.des-main {
    background-color: #FFC000;
    color: #111;
}
.des-labs{
    background-color: #9cce77;
    color: #111;
}
.des-dis{
    background-color: #87C1E9;
    color: #111;
}
.des-meds{
    background-color: #FB8153;
    color: #111;
}
.des-preg{
    background-color: #D7AEFF;
    color: #111;
}
.des-meta{
    background-color: #BEBEBE;
    color: #111;
}
.des-{
    background-color: #f0f0f5;
    color: #111;
}
.des-:hover,.des-:active,.des-:focus,
.des-main:hover,.des-main:active,.des-main:focus,
.des-labs:hover,.des-labs:active,.des-labs:focus,
.des-dis:hover,.des-dis:active,.des-dis:focus,
.des-meds:hover,.des-meds:active,.des-meds:focus,
.des-preg:hover,.des-preg:active,.des-preg:focus,
.des-meta:hover,.des-meta:active,.des-meta:focus {
    color: #111 !important;
}
.desTable th{
    font-weight: normal !important;
    font-style: italic;
}
.des_draft{
    background-color: #ffffe6  !important;
}
.sopTable td:nth-child(1){
    width:70px  !important;
    vertical-align: middle !important;
    text-align: center !important;
    cursor: pointer !important;
}
.sopTable td:nth-child(2){
    width:150px  !important;
}
.sopTable td:nth-child(3){
    width:200px  !important;
}
.sopTable td:nth-child(4){
    width:808px  !important;
}
.table_name,table_name:hover{
    color:#333;
}
.des_draft_header{
    background-color: #ffffcc  !important;
}
.rowSelected{
    background-color:#e6f5ff !important;
}
#preview_table .rowSelected{
    background-color: transparent !important;
}
.preview_table{
    font-size: 14px;
}
.preview_table td{
    padding: 8px !important;
}
.badge-private{
    background-color: #22a6b3;
}
.badge-public{
    background-color: #ff9933;
}
.badge-draft{
    background-color: #a6a6a6;
}
.badge-final{
    background-color: #337ab7;
}
.morecontent span {
    display: none;
}
.comment {
    padding-left: 50px;
}
/*MODAL*/
.sop_modal_table{
    margin: 0 auto;
    border: 1px solid #ddd;
    width: 90%;
}
.sop_modal_header{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    text-align: center;
    font-weight: bold;
}
.code_modal_td{
    padding: 5px 10px 5px 10px;
}
.btn_code_modal{
    text-decoration:underline;
    font-size: 12px;
    font-weight: bold;
}
/*SOP STEPS*/
#save_continue_2,#previous_2,#save_continue_4,#previous_4 {
    display: block;
    position: fixed;
    bottom: 20px;
    z-index: 99;
    padding: 10px;
}
#save_and_stay {
    display: block;
    position: fixed;
    z-index: 99;
    padding: 10px;
}
#save_continue_2,#save_continue_4{
    right: 30px;
}
#previous_2,#previous_4{
    right: 200px;
}
#step1 label{
    font-weight: normal;
}
.steps_label{
    float: left;
}
.steps_sub_label{
    padding-left: 50px;
    padding-right: 10px;
}
.steps_label, .steps_sub_label{
    width: 180px;
}
.steps_sub_div{
    padding-bottom: 20px;
}
#sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 230px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    height: 250px;
    overflow-y: scroll;
    background-color: #f9f9f9;
}
#sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 200px;
    cursor: move;
    background-color: #e6f5ff;
}
#sortable1 li:hover, #sortable2 li:hover {
    background-color: #bfbfbf;
}
#sortable1{
    /*margin-right: 150px;*/
}
.sortable_doubleArrow_icon {
    font-size: 36px !important;
    display: block !important;
}
.sortable_doubleArrow{
    color: #337ab7;
    float: left;
    padding: 100px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.footer, .footer a{
    text-align: center;
    font-size: 11px;
    color: #bfbfbf;
    padding-bottom: 30px;
}

.pull-right .dropdown-menu:after {
    left: auto;
    right: 13px;
}
.pull-right .dropdown-menu {
    left: auto;
    right: 0;
}
.dt-button{
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.dt-button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.dt-buttons{
    padding-top: 5px;
}
.dt-button-info{
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.dt-button-info:hover {
    color: #333;
    background-color: #aadeee;
    border-color: #aadeee;
}
/* to remove the link showing up on print option */
a[href]:after {
    content: "";
}
/***SUBMIT DATA***/
.status-text{
    vertical-align: -1px;
}

/***ABOUT***/
.about_portrait{
    height:200px !important;
    padding-top: 20px;
}
.caption{
    height:130px;
}

/***LOADING SPINNER***/
#loader {
    /*position: absolute;*/
    left: 50%;
    top: 50%;
    display: block;
    position: fixed;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

.table>tbody+tbody {
    border-top: 1px solid #ddd;
}
.retrieve-notes{
    color: #8c8c8c;
}
.no-border{
    border:none !important;
}
.no-border-bottom{
    border:none !important;
    border-bottom: 1px solid #ddd !important;
}

table[data-sortable] th[data-sorted]:after{
    background: none;
    content:none;
}

/*Fancy checkboxes*/
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

.custom-control-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 1rem;
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #80bdff;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.custom-control-input[disabled] ~ .custom-control-label, .custom-control-input:disabled ~ .custom-control-label {
    color: #6c757d;
}

.custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
    background-color: #e9ecef;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

.custom-control-label::before {
    position: absolute;
    top: 0.25rem;
    left: -2rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.custom-control-label::after {
    position: absolute;
    top: 0rem;
    left: -2.2rem;
    display: block;
    width: 2rem;
    height: 2rem;
    content: "";
    background: no-repeat 50% / 50% 50%;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0.25rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    border-color: #007bff;
    background-color: #007bff;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e");
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(0, 123, 255, 0.5);
}

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
    background-color: rgba(0, 123, 255, 0.5);
}

/*** CALENDAR ***/
.calendar iframe{
    width: 100%;
}
/*** METRICS ***/
.canvas_title{
    font-weight: bold;
    width: 360px;
    float:left;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}
.canvas_statistics:after {
    font-family: 'FontAwesome';
    content: "\f078" !important;
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
}
.canvas_statistics:after{
    color: #8c8c8c !important;
}
