.title{
    font-weight: normal;
    padding-left: 15px;
}
.panel-heading {
    background-color: #D7D7D7;
    border-color: #ddd;
}
.instrument-header{
    background-color:#f5f5f5 !important;
    font-size: 15px;
}
.section-header th{
    background-color:#ebebeb !important;
    font-weight: bold;
}
.changed{background-color:#ffc107 !important;}
.added{background-color:#5d9451 !important;}
.removed{background-color:#cb410b !important;}
tr.rowSelected td{
    background-color: #e6f5ff !important;
}
.resolved{
    background-color: #dcdcdc;
    border-color:#adacac;
}
.btn-resolved:hover {
    color: #000;
    background-color: #adacac;
    border-color:#797979;
}
.btn-resolved {
    background-color: #dcdcdc;
    border-color: #adacac !important;
    padding: 3px 10px !important;
    line-height: 1em !important;
}